# Assign responsibility for all JavaScript/TypeScript files to a specific user
/src/**/*.js @Zeidtayyan

# Assign responsibility for the frontend configuration files to another user
/package.json @Zeidtayyan

# Assign responsibility for .env files to a specific user
/.env* @Zeidtayyan

# Assign all workflow configuration files to a team
/.github/workflows/* @ie-bank-fe-2024

# Catch-all rule for everything else in the repository
* @ie-bank-fe-2024
